{% extends 'base.html' %}
{% load static %}

{% block title %}
    Blog | Postagens
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block body %}

{% for p in posts %}
    <p>{{p.author}}</p>
    <P>{{p.categorias}}</P>
    <a href="{% url 'categorias:editcategorias' p.categorias.id%}"> alterar categorias</a>
    <a href="{% url 'categorias:delcategorias' p.categorias.id%}"> deletar categorias</a>
    <p>{{p.conteudo}} </p>
    <p>{{p.created_at}}</p>
    <a href="{% url 'posts:updateposts' p.id%}"> alterar post</a>
    <a href="{% url 'posts:deleteposts' p.id%}"> deletar post</a>
    {% empty %}
    <p>VOCÊ NÃO POSSUI POSTS  :(</p>
    <a href="{% url 'posts:addposts' %}">Adicione seu primeiro post</a>
    {% endfor %}

{% endblock body %}