{% extends 'base.html' %}
{% load static %}

{% block title %}
    Blog | Postagens
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block body %}
    <h1 class="bg-info">POSTAGENS:</h1>
    <div class="card">
    {% for p in posts %} 
        {% include 'includes/cards.html' %}

        {% empty %}
        <div>
        <p>VOCÊ NÃO POSSUI POSTS  :(</p>
        </div>
        <div>
        <a href="{% url 'posts:addposts' %}"  class="btn btn-primary">Adicione seu primeiro post</a>
        </div>
        </div>
        
        </div>
       
        {% endfor %}
       
{% endblock body %}