{% extends 'base.html' %} 
{% load static %}

{% block title %}
Blog | Adicionar Postagens
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block body %}
<div>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
        </div>
        <div class="btn-group btn-group-xs">
            <button type="button submit" class="btn btn-success">Adicionar</button>
        </div>
        </form>
   {% block style %} 

   {% endblock style%}
{% endblock body %}
    
    

